.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.child{
    text-align: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.child1{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 0, 0);
}
.child2{
    background-color: rgb(161, 161, 161);
    border:1px solid red;
}
.child3{
    background-color: rgb(71, 255, 255);
    border:1px solid red;
}
@media only screen and (max-width: 768px) {
    .child {
      font-size: 14px;
      padding:5px;
      padding-right:10px;
      line-height: 20px;
      text-align: left;
    }
  }